@import '../../../../assets/variables';

last-games{
  md-card{
    padding: 20px 40px;
    .game{
      .W{
        color: $color-good;
      }
      .D{
        color: $color-average;
      }
      .L{
        color: $color-bad;
      }
    }
  }
}