<md-card data-layout="column" layout-align="start stretch" flex="100">
    <div data-layout="row" data-layout-align="center">
        <h2>Last games</h2>
    </div>
    <p ng-repeat="game in Last.games | orderBy:0:true | limitTo:3">
        <a ui-sref="games.game({gameId:game.id})" data-layout="row" data-layout-align="space-between" class="game">
            <span>vs <b>{{game.opponent}}</b></span>
            <span><span class="{{game.result}}"><b>{{game.result}}</b></span> {{game.homeScore}} - {{game.oppScore}}</span>
        </a>
    </p>
</md-card>