<md-card data-layout="column" layout-align="start stretch" flex="100">
    <div data-layout="row" data-layout-align="center">
        <h2>Most interceptions</h2>
    </div>
    <md-list data->
        <md-list-item ng-repeat="player in Intercepters.intercepters | orderBy: '-data.interceptions' | limitTo:5" data-layout="row" data-layout-align="space-between center" class="player" ng-if="player.data.interceptions > 0">
            <div data-layout="row" data-layout-align="start center">
                <img ng-src="app/assets/img/players/{{player.data.id}}.png" class="md-avatar" alt="{{player.name}}" />
                <b>{{player.name}}</b>
            </div>
            <span title="Pick Six">{{player.data.interceptions}} / {{player.data.pickSix}}</span>
        </md-list-item>
    </md-list>
</md-card>