@import '../../../../assets/variables';

droppers{
  md-card {
    padding: 20px 40px;
    .player{
      .catch-percent{
        &.good{
          color: $color-good;
        }
        &.average{
          color: $color-average;
        }
        &.bad{
          color: $color-bad;
        }
      }
    }
  }
}