<md-card data-layout="column" layout-align="start stretch" flex="100">
    <div data-layout="row" data-layout-align="center">
        <h2>Catch %</h2>
    </div>
    <md-list data->
        <md-list-item ng-repeat="player in Droppers.catchPercents | orderBy: '-percent'" data-layout="row" data-layout-align="space-between center" class="player">
            <player-link player="player"></player-link>
            <span class="catch-percent"
                    ng-class="{
                    good:       player.percent >= 80,
                    average:    player.percent < 80 && player.percent >= 60,
                    bad:        player.percent < 60}">
                <md-tooltip md-direction="top">
                  {{player.catches}} / {{player.total}}
                </md-tooltip>
                {{player.percent | number:0}} %
            </span>
        </md-list-item>
    </md-list>
</md-card>