<div class="homepage" data-layout="column" data-layout-padding>
    <h1>Overview</h1>
    <div data-layout="row" data-layout-wrap data-layout-padding data-layout-align="space-around stretch" ng-if="Overview.loaded">
        <team-record flex="30" record="Overview.record" data-layout="row"></team-record>
        <last-games flex="30" games="Overview.games" data-layout="row"></last-games>
        <point-ratio flex="30" ratio="{for:Overview.totalPointsFor,against:Overview.totalPointsAgainst}" data-layout="row"></point-ratio>
    </div>
    <h1>Offense</h1>
    <div data-layout="row" data-layout-wrap data-layout-padding data-layout-align="space-around stretch" ng-if="Overview.loaded">
        <scorers flex="30" scorers="Overview.scorersArray" data-layout="row"></scorers>
        <div flex="30"></div>
        <div flex="30"></div>
    </div>
</div>