<div data-layout="row" data-layout-align="start center">
    <a ui-sef="overview">
        <img src="app/assets/img/logo.gif" alt="Juggs logo" class="navbar-logo">
    </a>
    <a class="navbar-item" ui-sref="overview">
        <img src="app/assets/img/overview-icon.svg">Overview
    </a>
    <a class="navbar-item" ui-sref="games">
        <img src="app/assets/img/games-icon.svg">Games
    </a>
    <a class="navbar-item" ui-sref="players">
        <img src="app/assets/img/players-icon.svg">Players
    </a>
</div>