<md-card data-layout="column" layout-align="start stretch" flex="100">
    <div data-layout="row" data-layout-align="center">
        <h2>Most sacks</h2>
    </div>
    <md-list data->
        <md-list-item ng-repeat="player in Sackers.sackers | orderBy: '-data.sacks' | limitTo:5" data-layout="row" data-layout-align="space-between center" class="player" ng-if="player.data.sacks > 0">
            <player-link player="player"></player-link>
            <span>{{player.data.sacks}}</span>
        </md-list-item>
    </md-list>
</md-card>