<md-card data-layout="column" layout-align="start stretch" flex="100">
    <div data-layout="row" data-layout-align="center">
        <h2>Play distribution</h2>
    </div>
    <md-list>
        <md-list-item ng-repeat="play in Plays.plays| orderBy: ['-data.count','-data.td']" data-layout="row" data-layout-align="space-between center" class="play" ng-if="play.play && (play.data.catches || play.data.drops || play.data.incomplete || play.data.interceptions)">
            <div data-layout="row" data-layout-align="start center">
                <b>{{play.play}}</b>
            </div>
            <span>{{play.data.td}} <b title="Touchdown">TD</b> {{play.data.catches}} <b title="Catches">C</b> {{play.data.drops}} <b title="Drops">D</b> {{play.data.incomplete}} <b title="Incomplete">In</b> {{play.data.interceptions}} <b title="Picks">P</b></span>
        </md-list-item>
    </md-list>
</md-card>