<md-card data-layout="column" layout-align="start stretch" flex="100">
    <div data-layout="row" data-layout-align="center">
        <h2>Most deflags</h2>
    </div>
    <md-list data->
        <md-list-item ng-repeat="player in Flaggers.flaggers | orderBy: '-data.deflags' | limitTo:5" data-layout="row" data-layout-align="space-between center" class="player">
            <player-link player="player"></player-link>
            <span>{{player.data.deflags}}</span>
        </md-list-item>
    </md-list>
</md-card>